*{
    padding: 0;
    margin: 0;
}
/* style for header */
header{
    background-color: black;
}

li{
    list-style: none;
}

a{
    color: white;
    text-decoration: none;
}

/*style for container*/
.container{
    max-width: 1224px;
    width: 90%;
    margin: 0 auto;

}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.navbranding{
    font-size: 2rem;
}

.nav-link:hover{
    color: dodgerblue;

}

.nav-link{
    transition: 0.3s ease;
}

/*style for hambuger menu */
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background-color: white;
}

.hambuger{
    display: none;
    cursor: pointer;
}

/* Responsiveness */

@media(max-width:1024px){
    .hambuger{
        display: block;
    }
     .hambuger.active .bar:nth-child(2){
        opacity: 0;
     }
     .hambuger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

     }
     .hambuger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
     }
     .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
     }

     .nav-item{
        margin: 16px 0;
     }
     .nav-menu.active{
        left: 0;
     }
}